<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<title>SKN General Insurance</title>
<link rel="icon" href="./static/image/favicon.jpg">

<style>
        .xyz{
          margin-bottom: 0px;
          background-image: url('{% static "image/h3.avif" %}');
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }
</style>
<body>
  {% include "insurance/navbar.html" %}
<br>
<section id="section-jumbotron" style="margin-bottom: 0px;" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center xyz">
  <div class="container text-center">
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    
  </div>  
</section>


<div class="jumbotron" style="margin-top: 0px;margin-bottom: 0px;">

  <p class="lead text-centent">
    </p>
  
  <p class="text-center"></p>
  
</div>
  {% include "insurance/footer.html" %}


</body>

</html>
